.CartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;
}

.Container_Inputs--Banner{
    display: flex;
    
}

.Banner{
    background-image: url('/MujerBanner.png');
    background-position: center;
background-size: cover;
border-radius: 0.5rem;
padding: 3rem;
display: flex;
text-align: center;
align-items: center;
margin: 0 0 0 6rem;
}

.TitleName {
    text-align: center;
}





.LinkButton {
    text-decoration: none;
}

.LinkContainer {
    margin: 20px; /* Ajusta el valor según sea necesario */
}

.LinkFinalizar {
    text-decoration: none;
}

.LinkFinalizar button {
    padding: 10px 20px;
    background-color: springgreen;

    color: white;
    border: none;
    cursor: pointer;
}

.LinkFinalizar button:hover {
    background-color: rgb(11, 158, 84);
}
