@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Sarina&family=Trispace:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');


.CartItemContainer {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    width: 100%;

}
.CartItemContainer__image {
    display: block;
    margin: 0 auto;
    max-width: 30%; /* Establece el ancho máximo */
    max-height: 100%; /* Establece la altura máxima */
    border: outset black 0.3rem;
}

.CartItemContainer_Title{
    font-family:Trispace;
    text-decoration: underline !important;
    margin: 2rem 0 1rem 0;
}

.CartItemContainer_Donation{
    font-family: Finlandica;
}

.CartItemContainer_Description{
    font-family: Piazzolla;
    text-align: center;
}

.Buttons{
    padding: 0.2rem;
    margin: 0.3rem;
}


