
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Kavoon&family=Sarina&family=Trispace:wght@100..800&display=swap');

.DonationDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  };


  
  .DonationDetailContainer__image {
    max-width: 45%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  };
  
  .Loading{
    text-align: center;
    margin: 10rem 0 10rem 0;
    font-family: Kavoon;
    font-size: 20rem;
    color: springgreen;
  };
  
  .NoFind{
    text-align: center;
    margin: 5rem 0 10rem 0;
    font-family: Kavoon;
    font-size: 10rem;
    color: springgreen;
  };
  